# SQL Server Ayarları (Lokal Kullanım İçin)
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=obs
DB_DRIVER=ODBC Driver 17 for SQL Server

# Güvenlik Ayarları
JWT_SECRET_KEY=buraya_guclu_bir_anahtar_yaziniz
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
